/* .card{
    border : 1px solid hsl(0, 1%, 39%);
    border-radius : 10px;
    box-shadow: 5px,5px,5px hsla(0, 0%, 0%, 0.074);
    padding : 20px;
    border-color: black;
    margin : 20px;
    text-align: center;
    max-width: 300px;
}

.card .card-image {
 margin-bottom: 10px; 
 box-shadow: 5px,5px,5px hsla(0, 0%, 0%, 0.074);  
}

.cardtitle{
    font-family: arial,  sans-serif;
}

.cardtext{
    font-family: arial,  sans-serif;
} */
/* .card .card-image {
    margin-bottom: 10px; 
    box-shadow: 5px,5px,5px hsla(0, 0%, 0%, 0.074);  
   } */

   